{#{% extends 'apps/base/base.html' %}#}
{% load static %}

    <footer class="modern-footer">
        <div class="footer-copyright">
            <div class="container">
                <div class="copyright-content">
                    <p class="copyright-text">
                        <a href="/">Alijahon.uz</a> © 2026 Barcha huquqlar himoyalangan
                    </p>
                    <div class="footer-links">
                        <a href="/">Bosh sahifa</a>
                        <a href="/category">Do'kon</a>
                        <a href="#">Aloqa</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>