<div class="col-md-9">
    <div class="urls-header">
        <h3>
            <i class="icofont-link"></i> Mening Havolalarim
        </h3>
    </div>


    <div class="row">

        <div class="col-lg-6 col-md-12">
            <div class="stream-card">
                <div class="stream-header">
                    <h5 class="stream-title">

                        nmadur

                    </h5>

                    <span class="stream-benefit">-10000</span>

                    <button class="delete-btn" onclick="deleteStream(109208)">
                        <i class="icofont-trash"></i>
                    </button>
                </div>

                <div class="stream-body">
                    <div class="link-input-group">
                        <input type="text" value="https://alijahon.uz/oqim/109208" readonly=""
                               class="link-input ref-link-109208">
                    </div>

                    <div class="action-buttons">
                        <button class="action-btn copy" onclick="copyLink(109208)">
                            <i class="icofont-copy"></i>
                            <span>Nusxa olish</span>
                        </button>
                        <a href="/oqim/109208" target="_blank" class="action-btn view">
                            <i class="icofont-external-link"></i>
                            <span>Ko'rish</span>
                        </a>
                        <a href="https://t.me/AlijahonBot?start=order_109208" target="_blank"
                           class="action-btn telegram">
                            <i class="icofont-telegram"></i>
                            <span>Telegram</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>